[submodule "backend/crossExecution/lib/forge-std"]
	path = backend/crossExecution/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/middleware/lib/forge-std"]
	path = backend/middleware/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
